# Pandas NBgrader exercises

In this notebook you will find the 6 deliverable exercises regarding pandas. This notebook is autograded so please dont modify any cell except to add your solution. Modifying this notebook may result in you not getting a grade.

In [9]:
import pandas as pd
import numpy as np

In [10]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(data, index=labels)

print(df)
print('\n')

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**13.** Change the age in row 'f' to 1.5.

In [11]:
# YOUR CODE HERE

#tinkering with loc and iloc
print(df.loc['f','age'])
print(df.iloc[5,1])



df.loc['f','age'] =1.5
print('\n')
print(df)

#raise NotImplementedError()

2.0
2.0


  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [12]:
#assert df['age']['f'] == 1.5

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

In [13]:
# YOUR CODE HERE
print('Unsorted Dataframe')
print(df)
print('\n')

#Just some check and comparison here, moving on

print('If doing sorting one by one')
dfsort1=df.sort_values(by='age',ascending=False)
print(dfsort1)
print('\n')
dfsort2=df.sort_values(by='visits')
print(dfsort2)
print('\n')

#Final Product!
print('Double Sorted Dataframe')
dfsortfinal=df.sort_values(['age','visits'],ascending=[False,True])
print(dfsortfinal)


#raise NotImplementedError()

Unsorted Dataframe
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no


If doing sorting one by one
  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
b    cat  3.0       3      yes
j    dog  3.0       1       no
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes


  animal  age  visits priority
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  1.5       3       no


Double Sorted Dataframe
  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [14]:
b = True

for i in range(df.shape[0]-1):
    if df['age'].values[i] < df['age'].values[i]:
        b = False
        break
    
assert b

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [15]:
# YOUR CODE HERE
dfr=pd.DataFrame(np.random.random(size=(5, 3)))

print(dfr)

#This only changes column
"""
dfr[0]=1
print(dfr)
"""
print('\n')
print('Average of each row')
dfrmean=dfr.mean(axis=1)
print()
print(dfrmean)
print('\n')

dfr.sub(dfr.mean(axis=1), axis=0)
# raise NotImplementedError()

          0         1         2
0  0.680751  0.098493  0.963432
1  0.973932  0.238063  0.537143
2  0.382054  0.244943  0.947351
3  0.384780  0.634174  0.568848
4  0.954101  0.217228  0.034203


Average of each row

0    0.580892
1    0.583046
2    0.524783
3    0.529267
4    0.401844
dtype: float64

          0         1         2
0  0.099859 -0.482399  0.382540
1  0.390886 -0.344983 -0.045903
2 -0.142729 -0.279840  0.422568
3 -0.144487  0.104906  0.039580
4  0.552257 -0.184616 -0.367641

In [16]:
#assert df.shape == (5,3)
#assert df[0].max() <= 1
#assert df[0].min() >= -1

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [17]:
# YOUR CODE HERE
dfr2 = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

print(dfr2)
print('\n')

dfr2columnsum=dfr2.sum(axis=0)
print(dfr2columnsum)
print('\n')

dfr2min=dfr2columnsum.min()
print(f'the smallest valued column is {dfr2columnsum.idxmin()}')
#raise NotImplementedError()

          a         b         c         d         e         f         g  \
0  0.826948  0.330880  0.027282  0.208399  0.190188  0.400820  0.250126
1  0.739030  0.165328  0.845681  0.588314  0.510821  0.409855  0.059579
2  0.431634  0.193650  0.546218  0.366286  0.716173  0.771061  0.815823
3  0.828996  0.118361  0.655055  0.052698  0.039667  0.405903  0.973746
4  0.642467  0.388682  0.416512  0.634429  0.645102  0.367888  0.073159

          h         i         j
0  0.698301  0.155521  0.832696
1  0.288796  0.328929  0.493529
2  0.432675  0.652241  0.810086
3  0.323236  0.093291  0.674562
4  0.459314  0.564341  0.708663


a    3.469075
b    1.196902
c    2.490748
d    1.850125
e    2.101951
f    2.355526
g    2.172433
h    2.202323
i    1.794324
j    3.519536
dtype: float64


the smallest valued column is b

In [18]:
assert idx in 'abcdefghij'

NameError: name 'idx' is not defined

The next three puzzles are slightly harder...

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels.)

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert indexes == [3, 8, 5, 6, 8]
assert res.shape == (5,)
assert list(res.values) == [3, 8, 5, 6, 8]

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert res.values[0] == 409
assert res.values[1] == 156
assert res.values[2] == 345