# Pandas NBgrader exercises

In this notebook you will find the 6 deliverable exercises regarding pandas. This notebook is autograded so please dont modify any cell except to add your solution. Modifying this notebook may result in you not getting a grade.

In [1267]:
import pandas as pd
import numpy as np

In [1268]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(data, index=labels)

print(df)
print('\n')

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**13.** Change the age in row 'f' to 1.5.

In [1269]:
# YOUR CODE HERE

#tinkering with loc and iloc
print(df.loc['f','age'])
print(df.iloc[5,1])



df.loc['f','age'] =1.5
print('\n')
print(df)

#raise NotImplementedError()

2.0
2.0


  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [1270]:
assert df['age']['f'] == 1.5

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

In [1271]:
# YOUR CODE HERE
print('Unsorted Dataframe')
print(df)
print('\n')

#Just some check and comparison here, moving on

print('If doing sorting one by one')
dfsort1=df.sort_values(by='age',ascending=False)
print(dfsort1)
print('\n')
dfsort2=df.sort_values(by='visits')
print(dfsort2)
print('\n')

#Final Product!
print('Double Sorted Dataframe')
df=df.sort_values(['age','visits'],ascending=[False,True])
print(df)


#raise NotImplementedError()

Unsorted Dataframe
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no


If doing sorting one by one
  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
b    cat  3.0       3      yes
j    dog  3.0       1       no
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes


  animal  age  visits priority
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  1.5       3       no


Double Sorted Dataframe
  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [1272]:
b = True

for i in range(df.shape[0]-1):
    if df['age'].values[i] < df['age'].values[i]:
        b = False
        break
    
assert b

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [1273]:
# YOUR CODE HERE
df=pd.DataFrame(np.random.random(size=(5, 3)))

print(df)

#This only changes column
"""
dfr[0]=1
print(dfr)
"""
print('\n')
print('Average of each row')
dfrmean=df.mean(axis=1)
print()
print(dfrmean)
print('\n')

df.sub(df.mean(axis=1), axis=0)
# raise NotImplementedError()

          0         1         2
0  0.353945  0.551749  0.246983
1  0.819810  0.236685  0.516596
2  0.604226  0.885586  0.557402
3  0.829975  0.843756  0.042549
4  0.158565  0.511151  0.697762


Average of each row

0    0.384226
1    0.524364
2    0.682405
3    0.572094
4    0.455826
dtype: float64

          0         1         2
0 -0.030281  0.167523 -0.137242
1  0.295446 -0.287678 -0.007768
2 -0.078179  0.203182 -0.125003
3  0.257882  0.271663 -0.529544
4 -0.297261  0.055325  0.241936

In [1274]:
assert df.shape == (5,3)
assert df[0].max() <= 1
assert df[0].min() >= -1

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [1275]:
# YOUR CODE HERE
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

print(df)
print('\n')

dfr2columnsum=df.sum(axis=0)
print(dfr2columnsum)
print('\n')

dfr2min=dfr2columnsum.min()
idx=dfr2columnsum.idxmin()
print(f'the smallest valued column is {idx}')
#raise NotImplementedError()

          a         b         c         d         e         f         g  \
0  0.147201  0.018417  0.537605  0.215297  0.673851  0.405371  0.197175
1  0.690453  0.491572  0.933440  0.493635  0.852964  0.959866  0.920069
2  0.738841  0.994385  0.772468  0.381197  0.933982  0.201019  0.453050
3  0.936530  0.474230  0.343757  0.720873  0.963939  0.591633  0.770763
4  0.470891  0.333917  0.663534  0.803868  0.882400  0.320739  0.485931

          h         i         j
0  0.066959  0.510018  0.918638
1  0.915284  0.354639  0.894684
2  0.862102  0.002882  0.468667
3  0.862135  0.515405  0.233102
4  0.639032  0.286435  0.937909


a    2.983916
b    2.312522
c    3.250804
d    2.614871
e    4.307137
f    2.478628
g    2.826987
h    3.345512
i    1.669379
j    3.453001
dtype: float64


the smallest valued column is i

In [1276]:
assert idx in 'abcdefghij'

The next three puzzles are slightly harder...

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels.)

In [1289]:
# YOUR CODE HERE
dfdata = {
1:[np.nan,2,np.nan,4,5],
2:[np.nan,2,3,np.nan,5],
3:[np.nan,2,np.nan,4,5],
4:[1,np.nan,3,np.nan,np.nan],
5:[1,2,np.nan,4,5],
6:[1,np.nan,3,np.nan,np.nan],
7:[1,2,3,4,5],
8:[1,np.nan,3,np.nan,np.nan],
9:[1,2,3,4,np.nan],
10:[1,np.nan,3,4,5]}

res=pd.DataFrame(dfdata)
print(res.shape)

# print(res)
# print()

res = res.isnull()


#.isnull is to return boolean values of NaN
# print(res)
# #print(dfnull.values[0,0])
# print()

#define index as empty list
indexes = []
for i in range(dfnull.shape[0]):
    counter = 0
    locationindex = 1
    for j in range(dfnull.shape[1]):
        if dfnull.values[i,j]==True:
            counter += 1
            if counter == 3:
                indexes.append(locationindex)
                break
        locationindex += 1
        

# print(indexes)

res= pd.Series(indexes)
res.shape




#raise NotImplementedError()

(5, 10)

3

In [1287]:
assert indexes == [3, 8, 5, 6, 8]
assert res.shape == (5,)
assert list(res.values) == [3, 8, 5, 6, 8]

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [1279]:
# YOUR CODE HERE
df_27 = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
print(df_27)
#print()

df_27 = df_27.sort_values('grps')


'''
previouslocationindex=0
locationindex=0
cumulative=0
for i in range(df.shape[0]):
    if df.grps.values[i] != df.grps.values[i+1]:
        locationindex=i
        for k in range (df.shape[previouslocationindex]:df.shape[locationindex]):
            cumulative=cumulative+df[k]
'''

#shorter alternative
res=df_27.groupby('grps')['vals'].nlargest(3).sum(level=0)



#raise NotImplementedError()

   grps  vals
0     a    12
1     a   345
2     a     3
3     b     1
4     b    45
5     c    14
6     a     4
7     a    52
8     b    54
9     c    23
10    c   235
11    c    21
12    b    57
13    b     3
14    c    87

In [1280]:
assert res.values[0] == 409
assert res.values[1] == 156
assert res.values[2] == 345