# Pandas NBgrader exercises

In this notebook you will find the 6 deliverable exercises regarding pandas. This notebook is autograded so please dont modify any cell except to add your solution. Modifying this notebook may result in you not getting a grade.

In [1158]:
import pandas as pd
import numpy as np

In [1159]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(data, index=labels)

print(df)
print('\n')

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**13.** Change the age in row 'f' to 1.5.

In [1160]:
# YOUR CODE HERE

#tinkering with loc and iloc
print(df.loc['f','age'])
print(df.iloc[5,1])



df.loc['f','age'] =1.5
print('\n')
print(df)

#raise NotImplementedError()

2.0
2.0


  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [1161]:
assert df['age']['f'] == 1.5

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

In [1162]:
# YOUR CODE HERE
print('Unsorted Dataframe')
print(df)
print('\n')

#Just some check and comparison here, moving on

print('If doing sorting one by one')
dfsort1=df.sort_values(by='age',ascending=False)
print(dfsort1)
print('\n')
dfsort2=df.sort_values(by='visits')
print(dfsort2)
print('\n')

#Final Product!
print('Double Sorted Dataframe')
df=df.sort_values(['age','visits'],ascending=[False,True])
print(df)


#raise NotImplementedError()

Unsorted Dataframe
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no


If doing sorting one by one
  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
b    cat  3.0       3      yes
j    dog  3.0       1       no
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes


  animal  age  visits priority
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  1.5       3       no


Double Sorted Dataframe
  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [1163]:
b = True

for i in range(df.shape[0]-1):
    if df['age'].values[i] < df['age'].values[i]:
        b = False
        break
    
assert b

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [1164]:
# YOUR CODE HERE
df=pd.DataFrame(np.random.random(size=(5, 3)))

print(df)

#This only changes column
"""
dfr[0]=1
print(dfr)
"""
print('\n')
print('Average of each row')
dfrmean=df.mean(axis=1)
print()
print(dfrmean)
print('\n')

df.sub(df.mean(axis=1), axis=0)
# raise NotImplementedError()

          0         1         2
0  0.752582  0.292908  0.277526
1  0.536831  0.289667  0.462835
2  0.912608  0.239012  0.257947
3  0.668591  0.407621  0.662041
4  0.355641  0.952029  0.405127


Average of each row

0    0.441005
1    0.429778
2    0.469856
3    0.579418
4    0.570933
dtype: float64

          0         1         2
0  0.311577 -0.148097 -0.163479
1  0.107053 -0.140110  0.033057
2  0.442752 -0.230844 -0.211909
3  0.089173 -0.171797  0.082624
4 -0.215291  0.381096 -0.165805

In [1165]:
assert df.shape == (5,3)
assert df[0].max() <= 1
assert df[0].min() >= -1

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [1166]:
# YOUR CODE HERE
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

print(df)
print('\n')

dfr2columnsum=df.sum(axis=0)
print(dfr2columnsum)
print('\n')

dfr2min=dfr2columnsum.min()
idx=dfr2columnsum.idxmin()
print(f'the smallest valued column is {idx}')
#raise NotImplementedError()

          a         b         c         d         e         f         g  \
0  0.626428  0.358892  0.947710  0.801674  0.411870  0.341481  0.331429
1  0.284653  0.963327  0.898613  0.476646  0.786950  0.280324  0.884238
2  0.626216  0.121034  0.128346  0.929103  0.007543  0.661995  0.738459
3  0.146438  0.587874  0.520264  0.351393  0.481195  0.621067  0.090938
4  0.892384  0.115775  0.894150  0.369103  0.318824  0.426968  0.753473

          h         i         j
0  0.257033  0.016056  0.116774
1  0.868196  0.576209  0.461462
2  0.745047  0.726454  0.991096
3  0.232870  0.615508  0.419136
4  0.686563  0.767892  0.506150


a    2.576119
b    2.146902
c    3.389083
d    2.927918
e    2.006383
f    2.331835
g    2.798537
h    2.789708
i    2.702119
j    2.494618
dtype: float64


the smallest valued column is e

In [1167]:
assert idx in 'abcdefghij'

The next three puzzles are slightly harder...

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels.)

In [1168]:
# YOUR CODE HERE
dfdata = {
1:[np.nan,2,np.nan,4,5],
2:[np.nan,2,3,np.nan,5],
3:[np.nan,2,np.nan,4,5],
4:[1,np.nan,3,np.nan,np.nan],
5:[1,2,np.nan,4,5],
6:[1,np.nan,3,np.nan,np.nan],
7:[1,2,3,4,5],
8:[1,np.nan,3,np.nan,np.nan],
9:[1,2,3,4,np.nan],
10:[1,np.nan,3,4,5]}

res=pd.DataFrame(dfdata)
print(res)
print()

res = res.isnull()

#.isnull is to return boolean values of NaN
print(res)
#print(dfnull.values[0,0])
print()

#define index as empty list
indexes = []
for i in range(dfnull.shape[0]):
    counter = 0
    locationindex = 1
    for j in range(dfnull.shape[1]):
        if dfnull.values[i,j]==True:
            counter += 1
            if counter == 3:
                indexes.append(locationindex)
                break
        locationindex += 1
        

print(indexes)


#for index, row in table.iterrows():



#raise NotImplementedError()

    1    2    3    4    5    6   7    8    9    10
0  NaN  NaN  NaN  1.0  1.0  1.0   1  1.0  1.0  1.0
1  2.0  2.0  2.0  NaN  2.0  NaN   2  NaN  2.0  NaN
2  NaN  3.0  NaN  3.0  NaN  3.0   3  3.0  3.0  3.0
3  4.0  NaN  4.0  NaN  4.0  NaN   4  NaN  4.0  4.0
4  5.0  5.0  5.0  NaN  5.0  NaN   5  NaN  NaN  5.0

      1      2      3      4      5      6      7      8      9      10
0   True   True   True  False  False  False  False  False  False  False
1  False  False  False   True  False   True  False   True  False   True
2   True  False   True  False   True  False  False  False  False  False
3  False   True  False   True  False   True  False   True  False  False
4  False  False  False   True  False   True  False   True   True  False

[3, 8, 5, 6, 8]

In [1169]:
assert indexes == [3, 8, 5, 6, 8]
#assert res.shape == (5,)
#assert list(res.values) == [3, 8, 5, 6, 8]

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [1170]:
# YOUR CODE HERE
df_27 = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
print(df_27)
#print()

df_27 = df_27.sort_values('grps')


'''
previouslocationindex=0
locationindex=0
cumulative=0
for i in range(df.shape[0]):
    if df.grps.values[i] != df.grps.values[i+1]:
        locationindex=i
        for k in range (df.shape[previouslocationindex]:df.shape[locationindex]):
            cumulative=cumulative+df[k]
'''

#shorter alternative
res=df_27.groupby('grps')['vals'].nlargest(3).sum(level=0)



#raise NotImplementedError()

   grps  vals
0     a    12
1     a   345
2     a     3
3     b     1
4     b    45
5     c    14
6     a     4
7     a    52
8     b    54
9     c    23
10    c   235
11    c    21
12    b    57
13    b     3
14    c    87

In [1171]:
assert res.values[0] == 409
assert res.values[1] == 156
assert res.values[2] == 345