# Pandas NBgrader exercises

In this notebook you will find the 6 deliverable exercises regarding pandas. This notebook is autograded so please dont modify any cell except to add your solution. Modifying this notebook may result in you not getting a grade.

In [882]:
import pandas as pd
import numpy as np

In [883]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(data, index=labels)

print(df)
print('\n')

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**13.** Change the age in row 'f' to 1.5.

In [884]:
# YOUR CODE HERE

#tinkering with loc and iloc
print(df.loc['f','age'])
print(df.iloc[5,1])



df.loc['f','age'] =1.5
print('\n')
print(df)

#raise NotImplementedError()

2.0
2.0


  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [885]:
#assert df['age']['f'] == 1.5

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

In [886]:
# YOUR CODE HERE
print('Unsorted Dataframe')
print(df)
print('\n')

#Just some check and comparison here, moving on

print('If doing sorting one by one')
dfsort1=df.sort_values(by='age',ascending=False)
print(dfsort1)
print('\n')
dfsort2=df.sort_values(by='visits')
print(dfsort2)
print('\n')

#Final Product!
print('Double Sorted Dataframe')
dfsortfinal=df.sort_values(['age','visits'],ascending=[False,True])
print(dfsortfinal)


#raise NotImplementedError()

Unsorted Dataframe
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no


If doing sorting one by one
  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
b    cat  3.0       3      yes
j    dog  3.0       1       no
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes


  animal  age  visits priority
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  1.5       3       no


Double Sorted Dataframe
  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [887]:
b = True

for i in range(df.shape[0]-1):
    if df['age'].values[i] < df['age'].values[i]:
        b = False
        break
    
assert b

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [888]:
# YOUR CODE HERE
dfr=pd.DataFrame(np.random.random(size=(5, 3)))

print(dfr)

#This only changes column
"""
dfr[0]=1
print(dfr)
"""
print('\n')
print('Average of each row')
dfrmean=dfr.mean(axis=1)
print()
print(dfrmean)
print('\n')

dfr.sub(dfr.mean(axis=1), axis=0)
# raise NotImplementedError()

          0         1         2
0  0.681264  0.989442  0.799003
1  0.138397  0.854478  0.167401
2  0.129079  0.220393  0.554331
3  0.348918  0.979039  0.166136
4  0.188635  0.472006  0.665931


Average of each row

0    0.823236
1    0.386759
2    0.301267
3    0.498031
4    0.442190
dtype: float64

          0         1         2
0 -0.141973  0.166206 -0.024233
1 -0.248362  0.467719 -0.219358
2 -0.172189 -0.080874  0.253063
3 -0.149113  0.481008 -0.331895
4 -0.253556  0.029815  0.223740

In [889]:
#assert df.shape == (5,3)
#assert df[0].max() <= 1
#assert df[0].min() >= -1

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [890]:
# YOUR CODE HERE
dfr2 = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

print(dfr2)
print('\n')

dfr2columnsum=dfr2.sum(axis=0)
print(dfr2columnsum)
print('\n')

dfr2min=dfr2columnsum.min()
print(f'the smallest valued column is {dfr2columnsum.idxmin()}')
#raise NotImplementedError()

          a         b         c         d         e         f         g  \
0  0.414809  0.757216  0.603231  0.486641  0.418613  0.495906  0.055588
1  0.605909  0.568458  0.244275  0.260144  0.150011  0.073812  0.061965
2  0.247535  0.655971  0.232667  0.754220  0.597258  0.911163  0.210893
3  0.849971  0.861798  0.080901  0.984347  0.691645  0.050651  0.911316
4  0.947925  0.127679  0.342420  0.076398  0.172096  0.257394  0.674229

          h         i         j
0  0.318645  0.716213  0.163961
1  0.392846  0.475854  0.178265
2  0.637008  0.286659  0.702538
3  0.485009  0.439480  0.156488
4  0.582465  0.591392  0.916436


a    3.066150
b    2.971123
c    1.503494
d    2.561749
e    2.029623
f    1.788926
g    1.913990
h    2.415972
i    2.509599
j    2.117688
dtype: float64


the smallest valued column is c

#assert idx in 'abcdefghij'

The next three puzzles are slightly harder...

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels.)

In [891]:
# YOUR CODE HERE
dfdata = {
1:[np.nan,2,np.nan,4,5],
2:[np.nan,2,3,np.nan,5],
3:[np.nan,2,np.nan,4,5],
4:[1,np.nan,3,np.nan,np.nan],
5:[1,2,np.nan,4,5],
6:[1,np.nan,3,np.nan,np.nan],
7:[1,2,3,4,5],
8:[1,np.nan,3,np.nan,np.nan],
9:[1,2,3,4,np.nan],
10:[1,np.nan,3,4,5]}

df=pd.DataFrame(dfdata)
print(df)
print()

dfnull = df.isnull()

#.isnull is to return boolean values of NaN
print(dfnull)
#print(dfnull.values[0,0])
print()

#define index as empty list
indexes = []
for i in range(dfnull.shape[0]):
    counter = 0
    locationindex = 1
    for j in range(dfnull.shape[1]):
        if dfnull.values[i,j]==True:
            counter += 1
            if counter == 3:
                indexes.append(locationindex)
                break
        locationindex += 1
        

print(indexes)


#for index, row in table.iterrows():



#raise NotImplementedError()

    1    2    3    4    5    6   7    8    9    10
0  NaN  NaN  NaN  1.0  1.0  1.0   1  1.0  1.0  1.0
1  2.0  2.0  2.0  NaN  2.0  NaN   2  NaN  2.0  NaN
2  NaN  3.0  NaN  3.0  NaN  3.0   3  3.0  3.0  3.0
3  4.0  NaN  4.0  NaN  4.0  NaN   4  NaN  4.0  4.0
4  5.0  5.0  5.0  NaN  5.0  NaN   5  NaN  NaN  5.0

      1      2      3      4      5      6      7      8      9      10
0   True   True   True  False  False  False  False  False  False  False
1  False  False  False   True  False   True  False   True  False   True
2   True  False   True  False   True  False  False  False  False  False
3  False   True  False   True  False   True  False   True  False  False
4  False  False  False   True  False   True  False   True   True  False

[3, 8, 5, 6, 8]

In [892]:
'''
#tinkering with .iterows

dftrial=pd.DataFrame([[1,2,3],[4,5,6]], columns=['column1','column2','column3'], index=['index1','index2'])
print(dftrial)
print()
print(dftrial.shape)
print(dftrial.values[0,1])

for i in range(dftrial.shape[0]):
    print(dftrial.values[i])

#for i, row in dftrial.iterrows():
#    print(row[1])
'''

"\n#tinkering with .iterows\n\ndftrial=pd.DataFrame([[1,2,3],[4,5,6]], columns=['column1','column2','column3'], index=['index1','index2'])\nprint(dftrial)\nprint()\nprint(dftrial.shape)\nprint(dftrial.values[0,1])\n\nfor i in range(dftrial.shape[0]):\n    print(dftrial.values[i])\n\n#for i, row in dftrial.iterrows():\n#    print(row[1])\n"

In [893]:
#assert indexes == [3, 8, 5, 6, 8]
#assert res.shape == (5,)
#assert list(res.values) == [3, 8, 5, 6, 8]

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [894]:
# YOUR CODE HERE
df_27 = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
print(df_27)
#print()

df_27 = df_27.sort_values('grps')


'''
previouslocationindex=0
locationindex=0
cumulative=0
for i in range(df.shape[0]):
    if df.grps.values[i] != df.grps.values[i+1]:
        locationindex=i
        for k in range (df.shape[previouslocationindex]:df.shape[locationindex]):
            cumulative=cumulative+df[k]
'''

#shorter alternative
df_27.groupby('grps')['vals'].nlargest(3).sum(level=0)
#raise NotImplementedError()

   grps  vals
0     a    12
1     a   345
2     a     3
3     b     1
4     b    45
5     c    14
6     a     4
7     a    52
8     b    54
9     c    23
10    c   235
11    c    21
12    b    57
13    b     3
14    c    87

grps
a    409
b    156
c    345
Name: vals, dtype: int64

In [895]:
assert res.values[0] == 409
assert res.values[1] == 156
assert res.values[2] == 345

NameError: name 'res' is not defined