# Pandas NBgrader exercises

In this notebook you will find the 6 deliverable exercises regarding pandas. This notebook is autograded so please dont modify any cell except to add your solution. Modifying this notebook may result in you not getting a grade.

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(data, index=labels)

**13.** Change the age in row 'f' to 1.5.

In [44]:
# YOUR CODE HERE
df.loc["f","age"] = 1.5

print(df)

          a         b         c         d         e         f         g  \
0  0.890776  0.024324  0.196394  0.179899  0.145286  0.502657  0.629046
1  0.599948  0.882271  0.430224  0.732543  0.235038  0.732286  0.769408
2  0.730146  0.320718  0.096184  0.027745  0.033284  0.268214  0.427920
3  0.321709  0.772949  0.080130  0.066068  0.392919  0.238171  0.198029
4  0.686882  0.071595  0.900858  0.863832  0.587034  0.168834  0.088445
f       NaN       NaN       NaN       NaN       NaN       NaN       NaN

          h         i         j  age
0  0.868523  0.414099  0.877693  NaN
1  0.356563  0.879556  0.559542  NaN
2  0.884648  0.687765  0.841404  NaN
3  0.334416  0.449982  0.024631  NaN
4  0.889632  0.894854  0.453443  NaN
f       NaN       NaN       NaN  1.5

In [45]:
assert df['age']['f'] == 1.5

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

In [18]:
# YOUR CODE HERE
df = df.sort_values(['age', 'visits'], ascending=[False, True])

In [46]:
b = True

for i in range(df.shape[0]-1):
    if df['age'].values[i] < df['age'].values[i+1]:
        b = False
        break
    
assert b

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [20]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df.sub(df.mean(axis=1), axis=0)

          0         1         2
0  0.129658  0.023581 -0.153238
1  0.204560 -0.110879 -0.093681
2 -0.146047  0.374813 -0.228766
3 -0.066692 -0.416632  0.483324
4  0.021953  0.202358 -0.224311

In [21]:
assert df.shape == (5,3)
assert df[0].max() <= 1
assert df[0].min() >= -1

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [27]:
# YOUR CODE HERE
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
print(df)
idx = df.sum().idxmin()

          a         b         c         d         e         f         g  \
0  0.890776  0.024324  0.196394  0.179899  0.145286  0.502657  0.629046
1  0.599948  0.882271  0.430224  0.732543  0.235038  0.732286  0.769408
2  0.730146  0.320718  0.096184  0.027745  0.033284  0.268214  0.427920
3  0.321709  0.772949  0.080130  0.066068  0.392919  0.238171  0.198029
4  0.686882  0.071595  0.900858  0.863832  0.587034  0.168834  0.088445

          h         i         j
0  0.868523  0.414099  0.877693
1  0.356563  0.879556  0.559542
2  0.884648  0.687765  0.841404
3  0.334416  0.449982  0.024631
4  0.889632  0.894854  0.453443

In [28]:
assert idx in 'abcdefghij'

The next three puzzles are slightly harder...

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels.)

In [43]:
# YOUR CODE HERE
dfdata = {
1:[np.nan,2,np.nan,4,5],
2:[np.nan,2,3,np.nan,5],
3:[np.nan,2,np.nan,4,5],
4:[1,np.nan,3,np.nan,np.nan],
5:[1,2,np.nan,4,5],
6:[1,np.nan,3,np.nan,np.nan],
7:[1,2,3,4,5],
8:[1,np.nan,3,np.nan,np.nan],
9:[1,2,3,4,np.nan],
10:[1,np.nan,3,4,5]}

df_26 = pd.DataFrame(dfdata)
df_26

table = df_26.isnull()
indexes = []
for index, row in table.iterrows():
    counter = 0
    idx = 1
    for value in row:
        if value == True:
            counter +=1
            if counter == 3:
                indexes.append(idx)
        idx += 1
indexes
df_26.isnull()
df_26.isnull().cumsum(axis=1)
(df_26.isnull().cumsum(axis=1) == 3)
(df_26.isnull().cumsum(axis=1) == 3).idxmax(axis=1)

In [42]:
assert indexes == [3, 8, 5, 6, 8]
assert res.shape == (5,)
assert list(res.values) == [3, 8, 5, 6, 8]

AssertionError:

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [49]:
# YOUR CODE HERE
df_27 = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

res = df_27.groupby('grps')['vals'].nlargest(3).sum(level=0)

In [51]:
assert res.values[0] == 409
assert res.values[1] == 156
assert res.values[2] == 345