# Pandas NBgrader exercises

In this notebook you will find the 6 deliverable exercises regarding pandas. This notebook is autograded so please dont modify any cell except to add your solution. Modifying this notebook may result in you not getting a grade.

In [20]:
import pandas as pd
import numpy as np

In [21]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(data, index=labels)

**13.** Change the age in row 'f' to 1.5.

In [22]:
# YOUR CODE HERE
df.loc['f', 'age'] = 1.5

In [23]:
assert df['age']['f'] == 1.5

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

In [24]:
# YOUR CODE HERE
df = df.sort_values(['age','visits'], ascending = [False, True])
df

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [25]:
b = True

for i in range(df.shape[0]-1):
    if df['age'].values[i] < df['age'].values[i+1]:
        b = False
        break
    
assert b

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [26]:
# YOUR CODE HERE
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
df_mean = df.mean(axis = 1)
df = df.sub(df_mean, axis = 0)

In [27]:
assert df.shape == (5,3)
assert df[0].max() <= 1
assert df[0].min() >= -1

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [28]:
# YOUR CODE HERE
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
idx = df.sum().idxmin()

In [29]:
assert idx in 'abcdefghij'

The next three puzzles are slightly harder...

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels.)

In [33]:
# YOUR CODE HERE
data = {
1:[np.nan,2,np.nan,4,5],
2:[np.nan,2,3,np.nan,5],
3:[np.nan,2,np.nan,4,5],
4:[1,np.nan,3,np.nan,np.nan],
5:[1,2,np.nan,4,5],
6:[1,np.nan,3,np.nan,np.nan],
7:[1,2,3,4,5],
8:[1,np.nan,3,np.nan,np.nan],
9:[1,2,3,4,np.nan],
10:[1,np.nan,3,4,5]}
df = pd.DataFrame(data)
print("Original dataframe:\n", df)

res = df.isnull()
res = res.cumsum(axis=1)
print("\nCumsum for True values:\n", mod_df)
res = (res == 3).idxmax(axis = 1)

print("\nIndices: \n", res)

Original dataframe:
     1    2    3    4    5    6   7    8    9    10
0  NaN  NaN  NaN  1.0  1.0  1.0   1  1.0  1.0  1.0
1  2.0  2.0  2.0  NaN  2.0  NaN   2  NaN  2.0  NaN
2  NaN  3.0  NaN  3.0  NaN  3.0   3  3.0  3.0  3.0
3  4.0  NaN  4.0  NaN  4.0  NaN   4  NaN  4.0  4.0
4  5.0  5.0  5.0  NaN  5.0  NaN   5  NaN  NaN  5.0

Cumsum for True values:
 0    3
1    8
2    5
3    6
4    8
dtype: int64

Indices:
 0    3
1    8
2    5
3    6
4    8
dtype: int64

In [34]:
assert indexes == [3, 8, 5, 6, 8]
assert res.shape == (5,)
assert list(res.values) == [3, 8, 5, 6, 8]

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [42]:
# YOUR CODE HERE
res = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

res = res.groupby('grps')['vals'].nlargest(3).sum(level=0)

In [43]:
assert res.values[0] == 409
assert res.values[1] == 156
assert res.values[2] == 345