# Pandas NBgrader exercises

In this notebook you will find the 6 deliverable exercises regarding pandas. This notebook is autograded so please dont modify any cell except to add your solution. Modifying this notebook may result in you not getting a grade.

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(data, index=labels)

**13.** Change the age in row 'f' to 1.5.

In [9]:
# YOUR CODE HERE
df.loc['f', 'age'] = 1.5

In [10]:
assert df['age']['f'] == 1.5

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

In [12]:
# YOUR CODE HERE
df = df.sort_values(['age', 'visits'], ascending = [False, True])

In [14]:
b = True

for i in range(df.shape[0]-1):
    if df['age'].values[i] < df['age'].values[i+1]:
        b = False
        break
    
assert b

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [16]:
# YOUR CODE HERE
df = pd.DataFrame(np.random.random(size=(5, 3)))

df = df.sub(df.mean(axis = 1), axis = 0)

In [18]:
assert df.shape == (5,3)
assert df[0].max() <= 1
assert df[0].min() >= -1

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [30]:
# YOUR CODE HERE
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df['row_sum'] = df.sum(axis=1)
mini = df['row_sum'].min()
print(mini)

cols_sum = df.sum(axis=0)
lst_of_key = list(dict(cols_sum).keys())
lst_of_val = list(dict(cols_sum).values())
index_of_min_value = lst_of_val.index(min(cols_sum))
idx = lst_of_key[index_of_min_value]
print(idx)

4.578119620709476
e

In [28]:
assert idx in 'abcdefghij'

The next three puzzles are slightly harder...

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels.)

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert indexes == [3, 8, 5, 6, 8]
assert res.shape == (5,)
assert list(res.values) == [3, 8, 5, 6, 8]

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert res.values[0] == 409
assert res.values[1] == 156
assert res.values[2] == 345